@font-face {
    font-family: 'randm';
    src: url('../fuente/get_schwifty.ttf') format('truetype');
}
nav{
background-color: rgb(35, 198, 54);
display: flex;
justify-content: space-between;
padding: 10px;
box-sizing: border-box;
width: 100%;
color:blanchedalmond;
align-items: center;
}
.links{
display: flex;
justify-content: space-between;

}
.link{
    display: inline-block;
    margin: 6px;
    text-decoration: none;
    color: aliceblue;
}

li{
    list-style: none;
}

.logo{
    font-size: 50px;
    font-family: 'randm';
}
